#male .active{
    background-color:#a2662a;
}

#male .inactive {
    background-color: peru;
}

th{
    background-color: SteelBlue;
    color:white;
}

 #female .active {
     background-color:seagreen;
 }

 #female .inactive {
     background-color: mediumaquamarine;
 }